.items {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 25px;
  font-size: 1.4em;
  box-shadow: rgba(50, 50, 93, 0.99) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.99) 0px 1px 3px -1px;
  border-radius: 20px;
}
.icons {
  margin-right: 8px;
  width: 35px;
  height: 35px;
}
.nameItem {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-weight: 1000;
  color: #fff;
 
}
.numberItem {
  display: flex;
  align-items: center;
  font-style: italic;
  color: #fff;
}
.btn {
  position: absolute;
  top: 33.5px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 48px;
  font-size: 0.8em;
  border: 2px solid black;
  outline: 0;
  border-radius: 15px;
  color: #178a0c;
  font-weight: bold;
  transition: all 0.01s ease-in-out;
  cursor: pointer;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color:#212020 ;

}
.btn:hover {
  color: #ae1100;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
